# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Environment variables
.env

# Playwright browser downloads (if inside project)
playwright/

# System files
.DS_Store
